<h1>Kiitos, varauksestasi!</h1>
<p>Alla näet varauksesi tiedot:</p>

<p>Varaajan nimi: <%= result.name %>, Valittu laji: <%= result.sport %>, Varattu päivä: <%= date %>, Kellonaika: <%= result.startTime %>-<%= result.endTime %></p>