<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Kupittaan urheiluhalli</title>
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
	<link rel="stylesheet" href="/css/varausjarjestelma.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/js.js"></script>
	<script type="text/javascript" src="js/map.js"></script>
</head>

<body>
	<%- include('partials/header') %>

	<div class="flashes">
		<% if (flashMessages) { %>
			<% if (flashMessages.success) { %>
			<div class="flash success">
				<%= flashMessages.success %>
			</div>
		<% } else if (flashMessages.error) { %>
			<div class="flash error">
				<%= flashMessages.error %>
			</div>
			<% } %>
		<% } %>


		<div class="container">
			<%- body %>
		</div>

		<%- include('partials/footer') %>
	</body>

	</html>
