
<div class="col-sm-6">
  <h1>Varaustilanne</h1>
</div>

<div id="reservationsTable">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Varaaja</th>
        <th scope="col">Varattu laji</th>
        <th scope="col">Päivämäärä</th>
        <th scope="col">Alkamis aika</th>
        <th scope="col">Loppumis aika</th>
      </tr>
    </thead>
    <tbody>
      <!--
        Here we loop from 0 to the length of reservers array and post the correct data from each spot
      -->
      <% for(i=0; i<=reservers.length;i++) { %>
      <tr>
        <th scope="row"><%= reservers[i] %></th>
        <td> <%= sports[i] %></td>
        <td> <%= dates[i] %></td>
        <td> <%= startTimes[i] %></td>
        <td> <%= endTimes[i] %></td>
      </tr>
    <% };%>
    </tbody>
  </table>
</div>
